# SPDX-FileCopyrightText: 2026 Neptuwunium
#
# SPDX-License-Identifier: EUPL-1.2

root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = tab
tab_width = 4

[*.cs]
# Microsoft .NET properties
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_space_after_cast = true
csharp_style_expression_bodied_accessors = true
csharp_style_expression_bodied_constructors = true
csharp_style_expression_bodied_methods = true
csharp_style_expression_bodied_properties = true
csharp_style_prefer_utf8_string_literals = true
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = all_upper_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.local_constants_rule.severity = warning
dotnet_naming_rule.local_constants_rule.style = all_upper_style
dotnet_naming_rule.local_constants_rule.symbols = local_constants_symbols
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = all_upper_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = upper_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = all_upper_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = all_upper_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = upper_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.all_upper_style.capitalization = all_upper
dotnet_naming_style.all_upper_style.word_separator = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public, internal, protected, protected_internal, private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.constants_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_constants_symbols.applicable_kinds = local
dotnet_naming_symbols.local_constants_symbols.required_modifiers = const
dotnet_naming_symbols.local_constants_symbols.resharper_applicable_kinds = local_constant
dotnet_naming_symbols.local_constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_constants_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.private_constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_applicable_kinds = field, readonly_field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_fields_symbols.resharper_applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = readonly, static
dotnet_naming_symbols.private_static_readonly_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.private_static_readonly_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public, internal, protected, protected_internal, private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = readonly, static
dotnet_naming_symbols.static_readonly_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.static_readonly_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds =
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary
dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = true
dotnet_style_qualification_for_event = false
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_property = false
dotnet_style_require_accessibility_modifiers = true

# ReSharper properties
resharper_switch_statement_handles_some_known_enum_values_with_default_highlighting = none
resharper_switch_statement_missing_some_enum_cases_no_default_highlighting = none
resharper_loop_can_be_converted_to_query_highlighting = none
resharper_loop_can_be_partly_converted_to_query_highlighting = none
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_non_readonly_member_in_get_hash_code_highlighting = none
resharper_align_linq_query = true
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_calls_chain = true
resharper_autodetect_indent_settings = true
resharper_braces_for_ifelse = required
resharper_braces_for_dowhile = required
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_while = required
resharper_builtin_type_apply_to_native_integer = true
resharper_csharp_alignment_tab_fill_style = optimal_fill
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_indent_style = tab
resharper_csharp_insert_final_newline = true
resharper_csharp_stick_comment = false
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_preprocessor_if = outdent
resharper_indent_preprocessor_other = outdent
resharper_indent_preprocessor_region = outdent
resharper_local_function_body = expression_body
resharper_max_initializer_elements_on_line = 10
resharper_outdent_statement_labels = true
resharper_place_attribute_on_same_line = if_owner_is_single_line
resharper_place_simple_case_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_switch_expression_on_single_line = true
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_within_slice_pattern = false
resharper_static_members_qualify_with = current_type
resharper_trailing_comma_in_multiline_lists = true
resharper_use_continuous_indent_inside_parens = false
resharper_use_indent_from_vs = false
resharper_wrap_object_and_collection_initializer_style = wrap_if_long
resharper_wrap_property_pattern = wrap_if_long
resharper_wrap_switch_expression = chop_if_long
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_declaration_parens_arrangement = true
resharper_keep_existing_embedded_arrangement = true
resharper_keep_existing_embedded_block_arrangement = true
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_expr_member_arrangement = true
resharper_keep_existing_invocation_parens_arrangement = true
resharper_keep_existing_linebreaks = true
resharper_keep_existing_line_break_before_declaration_body = true
resharper_keep_existing_list_patterns_arrangement = true
resharper_keep_existing_property_patterns_arrangement = true
resharper_keep_existing_switch_expression_arrangement = true
resharper_keep_existing_initializer_arrangement = true

# ReSharper inspection severities
resharper_csharp_force_attribute_style = join
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_convert_to_primary_constructor_highlighting = none
resharper_auto_property_can_be_made_get_only_global_highlighting = none
resharper_class_can_be_sealed_global_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_class_with_virtual_members_never_inherited_global_highlighting = none
resharper_collection_never_queried_global_highlighting = none
resharper_collection_never_updated_global_highlighting = none
resharper_convert_to_constant_global_highlighting = none
resharper_entity_name_captured_only_global_highlighting = none
resharper_event_never_invoked_global_highlighting = none
resharper_event_never_subscribed_to_global_highlighting = none
resharper_field_can_be_made_read_only_global_highlighting = none
resharper_introduce_optional_parameters_global_highlighting = none
resharper_member_can_be_made_static_global_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_member_can_be_protected_global_highlighting = none
resharper_not_accessed_field_global_highlighting = none
resharper_not_accessed_positional_property_global_highlighting = none
resharper_out_parameter_value_is_always_discarded_global_highlighting = none
resharper_parameter_only_used_for_precondition_check_global_highlighting = none
resharper_parameter_type_can_be_enumerable_global_highlighting = none
resharper_property_can_be_made_init_only_global_highlighting = none
resharper_redundant_overload_global_highlighting = none
resharper_redundant_using_directive_global_highlighting = none
resharper_return_type_can_be_enumerable_global_highlighting = none
resharper_suspicious_type_conversion_global_highlighting = none
resharper_unassigned_field_global_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_unused_member_hierarchy_global_highlighting = none
resharper_unused_member_in_super_global_highlighting = none
resharper_unused_method_return_value_global_highlighting = none
resharper_unused_parameter_global_highlighting = none
resharper_unused_type_global_highlighting = none
resharper_virtual_member_never_overridden_global_highlighting = none

# analyzer
dotnet_diagnostic.ca1002.severity = none # Do not expose generic lists
dotnet_diagnostic.ca1005.severity = none # Avoid excessive parameters on generic types
dotnet_diagnostic.ca1008.severity = none # Enums should have zero value
dotnet_diagnostic.ca1018.severity = error # Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.ca1019.severity = error # Define accessors for attribute arguments
dotnet_diagnostic.ca1021.severity = none # Avoid out parameters
dotnet_diagnostic.ca1027.severity = none # Mark enums with FlagsAttribute
dotnet_diagnostic.ca1028.severity = none # Enum Storage should be Int32
dotnet_diagnostic.ca1034.severity = none # Nested types should not be visible
dotnet_diagnostic.ca1040.severity = none # Avoid empty interfaces
dotnet_diagnostic.ca1041.severity = error # Provide ObsoleteAttribute message
dotnet_diagnostic.ca1043.severity = none # Use Integral Or String Argument For Indexers
dotnet_diagnostic.ca1045.severity = none # Do not pass types by reference
dotnet_diagnostic.ca1056.severity = none # URI-like properties should not be strings
dotnet_diagnostic.ca1060.severity = error # Move pinvokes to native methods class
dotnet_diagnostic.ca1061.severity = error # Do not hide base class methods
dotnet_diagnostic.ca1062.severity = none # Validate arguments of public methods
dotnet_diagnostic.ca1063.severity = error # Implement IDisposable Correctly
dotnet_diagnostic.ca1064.severity = error # Exceptions should be public
dotnet_diagnostic.ca1065.severity = error # Do not raise exceptions in unexpected locations
dotnet_diagnostic.ca1069.severity = none # Enums values should not be duplicated
dotnet_diagnostic.ca1070.severity = error # Do not declare event fields as virtual
dotnet_diagnostic.ca1303.severity = none # Do not pass literals as localized parameters
dotnet_diagnostic.ca1308.severity = none # Normalize strings to uppercase
dotnet_diagnostic.ca1501.severity = none # Avoid excessive inheritance
dotnet_diagnostic.ca1502.severity = none # Avoid excessive complexity
dotnet_diagnostic.ca1505.severity = none # Avoid unmaintainable code
dotnet_diagnostic.ca1506.severity = none # Avoid excessive class coupling
dotnet_diagnostic.ca1515.severity = none # Consider making public types internal
dotnet_diagnostic.ca1721.severity = none # Property names should not match get methods
dotnet_diagnostic.ca1724.severity = none # Type names should not match namespaces
dotnet_diagnostic.ca1802.severity = error # Use literals where appropriate
dotnet_diagnostic.ca1805.severity = warning # Do not initialize unnecessarily
dotnet_diagnostic.ca1806.severity = error # Do not ignore method results
dotnet_diagnostic.ca1810.severity = error # Initialize reference type static fields inline
dotnet_diagnostic.ca1812.severity = none # Avoid uninstantiated internal classes
dotnet_diagnostic.ca1813.severity = error # Avoid unsealed attributes
dotnet_diagnostic.ca1815.severity = warning # Override equals and operator equals on value types
dotnet_diagnostic.ca1816.severity = error # Dispose methods should call SuppressFinalize
dotnet_diagnostic.ca1819.severity = none # Properties should not return arrays
dotnet_diagnostic.ca1820.severity = warning # Test for empty strings using string length
dotnet_diagnostic.ca1821.severity = suggestion # Remove empty Finalizers
dotnet_diagnostic.ca1822.severity = suggestion # Mark members as static
dotnet_diagnostic.ca1823.severity = warning # Avoid unused private fields
dotnet_diagnostic.ca1824.severity = suggestion # Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.ca1825.severity = error # Avoid zero-length array allocations
dotnet_diagnostic.ca1826.severity = suggestion # Do not use Enumerable methods on indexable collections
dotnet_diagnostic.ca1827.severity = error # Do not use Count() or LongCount() when Any() can be used
dotnet_diagnostic.ca1828.severity = error # Do not use CountAsync() or LongCountAsync() when AnyAsync() can be used
dotnet_diagnostic.ca1829.severity = error # Use Length/Count property instead of Count() when available
dotnet_diagnostic.ca1830.severity = suggestion # Prefer strongly-typed Append and Insert method overloads on StringBuilder
dotnet_diagnostic.ca1831.severity = error # Use AsSpan or AsMemory instead of Range-based indexers when appropriate
dotnet_diagnostic.ca1832.severity = error # Use AsSpan or AsMemory instead of Range-based indexers when appropriate
dotnet_diagnostic.ca1833.severity = error # Use AsSpan or AsMemory instead of Range-based indexers when appropriate
dotnet_diagnostic.ca1834.severity = error # Consider using 'StringBuilder.Append(char)' when applicable
dotnet_diagnostic.ca1835.severity = error # Prefer the 'Memory'-based overloads for 'ReadAsync' and 'WriteAsync'
dotnet_diagnostic.ca1836.severity = error # Prefer IsEmpty over Count
dotnet_diagnostic.ca1837.severity = error # Use 'Environment.ProcessId'
dotnet_diagnostic.ca1838.severity = none # Avoid 'StringBuilder' parameters for P/Invokes
dotnet_diagnostic.ca1839.severity = error # Use 'Environment.ProcessPath'
dotnet_diagnostic.ca1840.severity = error # Use 'Environment.CurrentManagedThreadId'
dotnet_diagnostic.ca1841.severity = error # Prefer Dictionary.Contains methods
dotnet_diagnostic.ca1842.severity = error # Do not use 'WhenAll' with a single task
dotnet_diagnostic.ca1843.severity = error # Do not use 'WaitAll' with a single task
dotnet_diagnostic.ca1844.severity = suggestion # Provide memory-based overrides of async methods when subclassing 'Stream'
dotnet_diagnostic.ca1845.severity = error # Use span-based 'string.Concat'
dotnet_diagnostic.ca1846.severity = error # Prefer 'AsSpan' over 'Substring'
dotnet_diagnostic.ca1847.severity = error # Use char literal for a single character lookup
dotnet_diagnostic.ca1848.severity = none # Use the LoggerMessage delegates
dotnet_diagnostic.ca1849.severity = warning # Call async methods when in an async method
dotnet_diagnostic.ca1850.severity = suggestion # Prefer static 'HashData' method over 'ComputeHash'
dotnet_diagnostic.ca1851.severity = warning # Possible multiple enumerations of 'IEnumerable' collection
dotnet_diagnostic.ca1852.severity = none # Seal internal types
dotnet_diagnostic.ca1853.severity = suggestion # Unnecessary call to 'Dictionary.ContainsKey(key)'
dotnet_diagnostic.ca1854.severity = suggestion # Prefer the 'IDictionary.TryGetValue(TKey, out TValue)' method
dotnet_diagnostic.ca1855.severity = suggestion # Prefer 'Clear' over 'Fill'
dotnet_diagnostic.ca1856.severity = error # Incorrect usage of ConstantExpected attribute
dotnet_diagnostic.ca1857.severity = warning # A constant is expected for the parameter
dotnet_diagnostic.ca1858.severity = suggestion # Use 'StartsWith' instead of 'IndexOf'
dotnet_diagnostic.ca1859.severity = suggestion # Use concrete types when possible for improved performance
dotnet_diagnostic.ca1860.severity = suggestion # Avoid using 'Enumerable.Any()' extension method
dotnet_diagnostic.ca1861.severity = suggestion # Avoid constant arrays as arguments
dotnet_diagnostic.ca1862.severity = suggestion # Use the 'StringComparison' method overloads to perform case-insensitive string comparisons
dotnet_diagnostic.ca1863.severity = none # Use 'CompositeFormat'
dotnet_diagnostic.ca1864.severity = suggestion # Prefer the 'IDictionary.TryAdd(TKey, TValue)' method
dotnet_diagnostic.ca1865.severity = suggestion # Use char overload
dotnet_diagnostic.ca1866.severity = suggestion # Use char overload
dotnet_diagnostic.ca1867.severity = warning # Use char overload
dotnet_diagnostic.ca1868.severity = suggestion # Unnecessary call to 'Contains(item)'
dotnet_diagnostic.ca1869.severity = suggestion # Cache and reuse 'JsonSerializerOptions' instances
dotnet_diagnostic.ca1870.severity = suggestion # Use a cached 'SearchValues' instance
dotnet_diagnostic.ca1871.severity = suggestion # Do not pass a nullable struct to 'ArgumentNullException.ThrowIfNull'
dotnet_diagnostic.ca1872.severity = suggestion # Prefer 'Convert.ToHexString' and 'Convert.ToHexStringLower' over call chains based on 'BitConverter.ToString'
dotnet_diagnostic.ca1873.severity = suggestion # Avoid potentially expensive logging
dotnet_diagnostic.ca1874.severity = suggestion # Use 'Regex.IsMatch'
dotnet_diagnostic.ca1875.severity = suggestion # Use 'Regex.Count'
dotnet_diagnostic.ca2000.severity = none # Dispose objects before losing scope
dotnet_diagnostic.ca2002.severity = warning # Do not lock on objects with weak identity
dotnet_diagnostic.ca2007.severity = none # Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.ca2008.severity = warning # Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.ca2009.severity = suggestion # Do not call ToImmutableCollection on an ImmutableCollection value
dotnet_diagnostic.ca2011.severity = suggestion # Avoid infinite recursion
dotnet_diagnostic.ca2012.severity = suggestion # Use ValueTasks correctly
dotnet_diagnostic.ca2013.severity = warning # Do not use ReferenceEquals with value types
dotnet_diagnostic.ca2014.severity = warning # Do not use stackalloc in loops
dotnet_diagnostic.ca2015.severity = warning # Do not define finalizers for types derived from MemoryManager<T>
dotnet_diagnostic.ca2016.severity = suggestion # Forward the 'CancellationToken' parameter to methods
dotnet_diagnostic.ca2017.severity = warning # Parameter count mismatch
dotnet_diagnostic.ca2018.severity = warning # 'Buffer.BlockCopy' expects the number of bytes to be copied for the 'count' argument
dotnet_diagnostic.ca2019.severity = suggestion # Improper 'ThreadStatic' field initialization
dotnet_diagnostic.ca2020.severity = suggestion # Prevent behavioral change
dotnet_diagnostic.ca2021.severity = warning # Do not call Enumerable.Cast<T> or Enumerable.OfType<T> with incompatible types
dotnet_diagnostic.ca2022.severity = warning # Avoid inexact read with 'Stream.Read'
dotnet_diagnostic.ca2023.severity = warning # Invalid braces in message template
dotnet_diagnostic.ca2024.severity = warning # Do not use 'StreamReader.EndOfStream' in async methods
dotnet_diagnostic.ca2025.severity = warning # Do not pass 'IDisposable' instances into unawaited tasks
dotnet_diagnostic.ca2217.severity = none # Do not mark enums with FlagsAttribute
dotnet_diagnostic.ca2225.severity = none # Operator overloads have named alternates
dotnet_diagnostic.ca2227.severity = none # Collection properties should be read only
dotnet_diagnostic.ca5358.severity = none # Review cipher mode usage with cryptography experts
dotnet_diagnostic.ca5391.severity = error # Use antiforgery tokens in ASP.NET Core MVC controllers
dotnet_diagnostic.ca5392.severity = error # Use DefaultDllImportSearchPaths attribute for P/Invokes
dotnet_diagnostic.ca5393.severity = none # Do not use unsafe DllImportSearchPath value
dotnet_diagnostic.ca5401.severity = none # Do not use CreateEncryptor with non-default IV
dotnet_diagnostic.cs7023.severity = error # The second operand of an 'is' or 'as' operator may not be static type '{0}'
dotnet_diagnostic.cs8981.severity = none # The type name '{0}' only contains lower-cased ascii characters. Such names may become reserved for the language.
dotnet_diagnostic.cs9018.severity = error # Auto-implemented property '{0}' is read before being explicitly assigned, causing a preceding implicit assignment of 'default'.
dotnet_diagnostic.cs9021.severity = none # Control is returned to caller before auto-implemented property '{0}' is explicitly assigned, causing a preceding implicit assignment of 'default'.
